* {
active-background: #544B3B;
active-foreground: #FBF8F2;
normal-background: #030000;
normal-foreground: #FBF8F2;
urgent-background: #80786A;
urgent-foreground: #FBF8F2;

alternate-active-background: #7D776E;
alternate-active-foreground: #FBF8F2;
alternate-normal-background: #030000;
alternate-normal-foreground: #FBF8F2;
alternate-urgent-background: #030000;
alternate-urgent-foreground: #FBF8F2;

selected-active-background: #544B3B;
selected-active-foreground: #FBF8F2;
selected-normal-background: #F1ECE4;
selected-normal-foreground: #FBF8F2;
selected-urgent-background: #80786A;
selected-urgent-foreground: #FBF8F2;

background-color: #030000;
background: rgba(0,0,0,0.7);
foreground: #F1ECE4;
border-color: #544B3B;
}

